@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700&display=swap");

.container{
    background-color: #EEF9BF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center; 
    width: 100vw; 
    height: 100vh;
}

.title {
    color: #75B79E;
    font-family: roboto;
    font-weight: 700;
    font-size: 56px;
    height: 100px;
    margin-top: 40px;   
    text-align: center;
}

.container-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 25px;
    height: 100vh;
}

.card{
    background-color: #A7E9AF;
    height: 146px;
    width: 117px;
    margin-right: 34px;
    margin-bottom: 34px;

    border-radius: 5px;
    border: 1px solid #99cae9;

    transition: all 1s;
}

.card img{
    width: 100px;
    height: auto;
    margin-top: 24px;
    margin-left: 10px;
}

.hidden{
    opacity: 0;  
}

.not-hidden{
    visibility: visible;    
}


.turned-side{
    position: relative;
    top: -100%;
}


@media (max-width: 425px) {
    .container{
        background-color: #EEF9BF;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-items: center; 
        width: 100%; 
        height: 100%;
    }
    .title{
        width: 100vw;

        font-family: Roboto;
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        text-align: center;

        align-items: center;
        justify-content: center;
    }

    .card-front{
        background-color: #A7E9AF;
        height: 146px;
        width: 117px;
        
        display: flex;
        flex-direction: column;
        align-items: center;
        
        margin-left: 50px;
        margin-right: 50px;
        border-radius: 5px;
        border: 1px solid #99cae9;
    }
}